:root {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

h1 {
    text-align: center;
}

p.center {
    text-align: center;
}

.container {
    position: relative;
    width: 100%;
}

#notas {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#notas td, #notas th {
    border: 1px solid #ddd;
    padding: 8px;
}

#notas tr:nth-child(even){background-color: #f2f2f2;}

#notas tr:hover {background-color: #ddd;}

#notas th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

#notas th { text-align: center; }

#notas td:nth-child(1),
#notas td:nth-child(4),
#notas td:nth-child(5),
#notas td:nth-child(6),
#notas td:nth-child(7)
{ text-align: center; }

a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    min-width: 60px;
}

a:hover, a:active {
    background-color: green;
    color: white;
}

a.center {
    display: block;
    width: 100px;
    margin: 0 auto;
}

label {
    display: block;
}
input[type=text] {
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    font-size: 16px;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
}
input[type=button], input[type=submit], input[type=reset] {
    background-color: white;
    border: 2px solid green;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
.container{
    width:100%;
}
.w25 {
    float: left;
    width:25%;
}
.w75 {
    float: left;
    width:75%;
}
.w50 {
    float: left;
    width:50%;
}
.container::after {
    content: "";
    clear: both;
    display: table;
}
div.center{
    text-align: center;
}
input:disabled {
    text-align: center;
}